.item.selected
  background: #bbb

.user-item
  display: flex
  flex-direction: row
  margin-bottom: 5px
  .image 
    height: 4em
    width: 4em
  .name
    flex: 1
    display: flex
    align-items: center
    padding-left: 10px
    font-size: 18px