@import 'nib'

.repo
  padding: 10px 5px
  display: flex
  align-items: center
  .stars
    margin-right: 10px
    background: #bbb
    border-radius: 99999px
    height: 3em
    width: 3em
    display: flex
    align-items: center
    justify-content: center
